<div class="overflow-hidden rounded-[20px] bg-neutral-50 shadow-lg">
  <div
    class="flex min-h-[200px] items-center justify-center px-4 md:px-8 lg:px-12"
  >
    <p class="text-center text-3xl font-bold text-cyan-600 md:text-4xl">
      Look at your Stats!
    </p>
  </div>

  <div
    *ngIf="this.statistics.totalQuizzes === 0"
    class="flex flex-col items-center gap-8 bg-cyan-200 px-6 py-10 md:gap-12 md:px-8 md:py-14"
  >
    <p class="text-center font-bold sm:text-xl md:text-2xl">
      Oops!! You haven't yet got any quiz results.
    </p>

    <a
      routerLink=""
      class="w-full rounded-[40px] bg-amber-400 px-6 py-4 text-center text-xl font-bold text-sky-950 shadow-md transition hover:bg-amber-500 active:translate-y-px sm:mx-auto sm:w-1/2 md:px-8 md:py-6 md:text-2xl"
      >Try a quiz!</a
    >
  </div>

  <div
    *ngIf="this.statistics.totalQuizzes > 0"
    class="flex flex-col gap-8 bg-cyan-200 px-6 py-10 font-bold sm:text-xl md:gap-16 md:px-8 md:py-14 md:text-2xl lg:px-12"
  >
    <div class="flex flex-col justify-between gap-8 md:flex-row md:gap-12">
      <div
        *ngFor="let data of showData"
        class="flex flex-col items-center gap-0"
      >
        <p>{{ data.name }}</p>
        <p class="text-5xl font-bold text-amber-600 sm:text-6xl md:text-7xl">
          {{ data.value }}
        </p>
      </div>
    </div>
    <app-pie-chart [data]="chartData" />
  </div>
</div>
