<header
  class="relative min-h-[300px] bg-cyan-600 pb-10 pt-10 md:min-h-[400px] md:pt-14"
>
  <nav class="container text-lg font-bold md:text-2xl">
    <ul class="flex justify-center gap-10">
      <li *ngFor="let link of links">
        <a
          [routerLink]="link[1]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          #rla="routerLinkActive"
          after=""
          class="relative text-white after:absolute after:bottom-0 after:left-0 after:translate-y-2 after:duration-300 hover:text-gray-100"
          [ngClass]="{
            'after:right-0 after:h-0.5  after:rounded-full after:bg-white after:text-sm after:text-white after:transition':
              rla.isActive,

          }"
          >{{ link[0] }}</a
        >
      </li>
    </ul>
  </nav>
</header>
