<div
  class="flex min-h-[350px] flex-col justify-between gap-10 rounded-[20px] px-[30px] py-[50px] text-white shadow-lg md:min-h-[400px]"
  [ngClass]="{
  'bg-sky-950 ': color === 'darkBlue',
  'bg-amber-400': color === 'yellow',
  'bg-cyan-600': color === 'blue',


}"
>
  <p class="text-center text-2xl font-bold md:text-3xl">
    {{ quizItem.name }}
  </p>
  <p class="text-center text-xl font-bold md:text-2xl">
    Questions: <span>{{ tasksAmount }}</span>
  </p>
  <app-button
    name="Play"
    color="white"
    (click)="handlePlayClick(quizItem)"
  ></app-button>
</div>
