<div class="overflow-hidden rounded-[20px] bg-neutral-50 shadow-lg">
  <div
    class="flex min-h-[200px] items-center justify-center px-4 md:px-8 lg:px-12"
  >
    <p class="text-center text-3xl font-bold text-cyan-600 md:text-4xl">
      Congrats!! You've passed the quiz!!
    </p>
  </div>

  <div
    *ngIf="data"
    class="flex justify-center gap-4 bg-cyan-200 px-4 py-10 md:px-8 md:py-12 lg:px-12"
  >
    <div
      class="flex flex-col gap-4 text-right text-lg font-bold sm:text-xl md:gap-6 md:text-2xl"
    >
      <p *ngFor="let title of titlesList">{{ title }}</p>
    </div>

    <div
      class="flex flex-col justify-between gap-4 text-lg font-bold text-amber-600 sm:text-xl md:text-2xl"
    >
      <p *ngFor="let value of valuesList">{{ value | titlecase }}</p>
    </div>
  </div>
</div>
